<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css" />
    <script src="/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
        window.highlightCode = function() {
            document.querySelectorAll('pre code').forEach(el => hljs.highlightElement(el));
        }
    </script>
    <script src="js/theme.js"></script>
    <script src="js/wallpaper.js"></script>
    <script src="js/sakura.js"></script>
    <script src="js/scrollbar.js"></script>
    <script>themeManager.init();</script>
    <script>document.addEventListener('DOMContentLoaded', () => scrollbarManager.init());</script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["fonts.css"]" />
    <link rel="stylesheet" href="@Assets["TwilightBlog_Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>